.Teachingteam {

    &__title {
        color: #000;
        font-family: Montserrat;
        font-size: 48px;
        font-weight: 700;
        margin: 30px 0 0 208px;
        width: 982px;
    }

    &__subtitle {
        color: #000;
        font-family: Montserrat;
        font-size: 28px;
        font-weight: 400;
        width: 622px;
        margin: 30px 0 44px 208px;
    }
}

@media (width: 768px) {
    .Teachingteam {

        &__title {
            font-size: 42px;
            margin: 30px 0 0 70px;
            width: auto;
        }
    
        &__subtitle {
            margin: 30px 0 44px 70px;
        }
    }
}

@media (width: 480px) {
    .Teachingteam {

        &__title {
            font-size: 22px;
            margin: 30px 0 0 70px;
            width: auto;
        }
    
        &__subtitle {
            margin: 30px 0 44px 70px;
            font-size: 18px;
            width: 300px;
        }
    }
}