.Research {

    &__container {
        background-color: #F2F2F2;
        width: 1022px;
        height: auto;
        border-radius: 40px;
        padding: 66px 0 54px 91px;
        display: flex;
        margin: 0 0 120px 205px;
    }

    &__title {
        color: #000;
        font-family: Montserrat;
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 24px;
    }

    &__text {
        color: #000;
        font-family: Montserrat;
        font-size: 36px;
        font-weight: 600;
        margin-bottom: 33px;
        width: 451px;
    }

    &__div_research {
        margin: 0 156px 0 0;
    }

    &__img {
        width: 250px;
        height: 255.194px;
    }
}

@media (width: 768px) {
    .Research {

        &__container {
            background-color: #F2F2F2;
            width: 600px;
            height: auto;
            border-radius: 40px;
            padding: 66px 0 54px 91px;
            display: block;
            margin: 0 0 120px 15px;
        }

        &__img {
            display: none;
        }
    }
}

@media (width: 480px) {
    .Research {

        &__container {
            background-color: #F2F2F2;
            width: 330px;
            height: auto;
            border-radius: 40px;
            padding: 66px 0 54px 91px;
            display: block;
            margin: 0 0 120px 25px;
        }

        &__img {
            display: none;
        }

        &__title {
            color: #000;
            font-family: Montserrat;
            font-size: 20px;
            font-weight: 600;
            margin-bottom: 24px;
        }
    
        &__text {
            font-size: 26px;
            width: auto;
        }
    }
}