.header {

    &__wrapper {
        // background-color: bisque;
        padding: 43px 118px;
    }

    &__logo {
        display: flex;
    }

    &__logo_text {
        color: #000;
        font-family: Montserrat;
        font-size: 24px;
        font-weight: 500;
        margin: 0 0 0 26px;
        display: flex;
        align-items: center;
    }

    &__logo_img {
        width: 40px;
        height: 40.4px;
    }

    &__profile_img {
        width: 35px;
        height: 33.76px;
    }
}



@media (width: 768px) {
    .header {

        &__logo_text {
            margin: 0 0 0 0;
            display: flex;
        }

        &__wrapper {
            // background-color: bisque;
            padding: 13px 40px;
        }
    
        &__logo {
            display: block;
        }
    }
}

@media (width: 480px) {
    .header {

        &__logo_text {
            margin: 0 0 0 0;
            display: flex;
        }

        &__wrapper {
            // background-color: bisque;
            padding: 13px 40px;
        }
    
        &__logo {
            display: block;
        }
    }
}
