.Partners {

    &__title {
        color: #000;
        font-family: Montserrat;
        font-size: 48px;
        font-weight: 700;
        width: 728px;
        margin: 60px 0 0 208px;
    }

    &__subtitle {
        color: #000;
        font-family: Montserrat;
        font-size: 24px;
        font-weight: 400;
        line-height: 30px;
        width: 679px;
        margin: 24px 0 0 208px;
    }

    &__div_partners {
        margin: 0 0 0 208px;
    }

    &__div_partners_top {
        display: flex;
        margin: 62px 0 60px 0;
    }

    &__div_partners_bottom {
        display: flex;
        margin: 0 0 120px 0;
    }

    &__img {
        text-align: center;
        display: flex;
        align-items: center;
        color: #000;
        font-family: Montserrat;
        font-size: 48px;
        font-weight: 600;
        margin: 0 150px 0 0;
    }

    &__img>img{
        margin: 0 23px 0 0;
    }
}

@media (width: 768px) {
    .Partners {

        &__title {
            font-size: 42px;
            width: auto;
            margin: 60px 0 0 50px;
        }

        &__subtitle {
            font-size: 18px;
            width: auto;
            margin: 24px 0 0 50px;
        }

        &__div_partners {
            margin: 0 0 0 50px;
        }
    
        &__div_partners_top {
            display: block;
        }
    
        &__div_partners_bottom {
            display: block;
        }

        &__img {
            margin: 50px 0 0 0;
        }
    }
}

@media (width: 480px) {
    .Partners {

        &__title {
            font-size: 32px;
            width: auto;
            margin: 60px 0 0 20px;
        }

        &__subtitle {
            font-size: 18px;
            width: auto;
            margin: 24px 0 0 20px;
        }

        &__div_partners {
            margin: 0 0 0 20px;
        }
    
        &__div_partners_top {
            display: block;
        }
    
        &__div_partners_bottom {
            display: block;
        }

        &__img {
            margin: 50px 0 0 0;
            font-size: 32px;
        }
    }
}