.ResearchWatchButton {

    &__button {
        border: 2px solid black;
        padding: 25px 61px;
        cursor: pointer;
        display: flex;
        border-radius: 40px;
        color: #000;
        font-family: Montserrat;
        font-size: 20px;
        font-weight: 600;
        transition: .3s ease-in-out;
    }

    &__button:hover {
        color: #F2F2F2;
        background: #000;
        transition: .3s ease-in-out;
    }
}