.Feedback {

    &__container{
        display: flex;
        width: 981px;
        margin: 0 0 0 294px;
        justify-content: space-between;
    }

    &__main_container{
        margin: 0 0 130px 0;
    }

    &__title {
        color: #000;
        font-family: Montserrat;
        font-size: 68px;
        font-weight: 700;
        margin: 0 0 60px 253px;
    }
}

@media (width: 768px) {
    .Feedback {

        &__container{
            display: block;
            width: auto;
            margin: 0 0 0 200px;
        }
    }
}

@media (width: 480px) {
    .Feedback {

        &__title {
            margin: 0 0 60px 103px;
        }

        &__container{
            display: block;
            width: auto;
            margin: 0 0 0 100px;
        }
    }
}