.FooterNav {

    &__nav{
        display: flex;
        width: 597px;
        justify-content: space-between;
        margin: 0 0 0 106px;
    }

    &__link_first {
        color: #FFF;
        font-family: Montserrat;
        font-size: 20px;
        text-decoration: none;
        font-weight: 500;
        text-transform: uppercase   ;
    }

    &__link {
        color: #FFF;
        font-family: Montserrat;
        font-size: 20px;
        font-weight: 300;
        text-decoration: none;
    }

    &__menu_item_first{
        margin: 0 0 20px 0;
    }

    &__menu_item{
        margin: 0 0 11px 0;
    }
}

@media (width: 480px) {
    .FooterNav {

        &__nav{
            display: block;
            width: auto;
            margin: 40px 0 0 106px;
        }

        &__nav>ul{
            margin: 40px 0 0 0;
        }
    }
}