.Footer {

    &__wrapper {
        display: flex;
        background: #000;
        padding: 88px 0 71px 490px; 
    }

    &__logo {
        color: #FFF;
        font-family: Montserrat;
        font-size: 24px;
        font-weight: 500;
        text-decoration: none;
        display: flex;
    }

    &__logo_img {
        width: 40px;
        height: 40.397px;
        margin: 0 26px 0 0;
    }
}

@media (width: 768px) {
    .Footer {

        &__wrapper {
            display: block;
            background: #000;
            padding: 48px 0 71px 50px; 
        }
    }
}

@media (width: 480px) {
    .Footer {

        &__wrapper {
            display: block;
            background: #000;
            padding: 48px 0 71px 50px; 
        }
    }
}