.NextButton{

    &__nextBtn>path{
        fill: rgb(255, 255, 255);
        transition: .3s ease;
    }

    &__nextBtn>path:hover{
        fill: #3E50CB;
        cursor: pointer;
        transition: .3s ease;
    }

}

@media (width: 480px) {
    .NextButton{

        &__nextBtn>path{
            fill: rgb(255, 255, 255);
            transition: .3s ease;
            width: 10px;
        }
    
        &__nextBtn>path:hover{
            fill: #3E50CB;
            cursor: pointer;
            transition: .3s ease;
        }
    }
}